{% extends "base.html" %}

{% block title %} {{ keyword }} {% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="row">
    <div class="col-md-9">
      <nav class="nav nav1">
        <a class="nav-link active" href="#">全部</a>
        <a class="nav-link" href="#">文学</a>
        <a class="nav-link" href="#">小说</a>
        <a class="nav-link" href="#">历史文化</a>
        <a class="nav-link" href="#">社会纪实</a>
        <a class="nav-link" href="#">科学新知</a>
        <a class="nav-link" href="#">艺术设计</a>
        <a class="nav-link" href="#">商业经管</a>
        <a class="nav-link" href="#">绘本漫画</a>
        <span ><a href="">>>更多</a> </span>
      </nav>
      <hr>
      <div class="row">
        <div class="book-grid">
          {% for book in books %}
            <div class="book-item">
              <figure class="figure">
                <a href="{{ url_for('books.book_detail', book_id=book.id) }}">
                  <img src="{{ url_for('uploads', filename=book.image) if book.image else '#' }}" class="img-thumbnail rounded" alt="{{ book.title }}">
                </a>
                <figcaption class="figure-caption">{{ book.author }}</figcaption>
                <figcaption class="figure-caption">{{ book.title }}</figcaption>
              </figure>
            </div>
          {% endfor %}
        </div>


      </div>

      <nav class="nav nav1">
        <a class="nav-link active" href="#">全部</a>
        <a class="nav-link" href="#">读书专题</a>
        <a class="nav-link" href="#">直播活动</a>
        <a class="nav-link" href="#">名家问答</a>
        <a class="nav-link" href="#">共读交流</a>
        <a class="nav-link" href="#">鉴书团</a>
        <span ><a href="">>>更多</a> </span>
      </nav>
      <hr></hr>
    </div>


    {% include "sidebar.html" %}
  </div>
    </div>
</div>
{% endblock %}